<!DOCTYPE html>
<html lang="en" dir="ltr">
    <!-- Include <head> -->
    <%- include('partials/head') %>
    <body>
        <!-- Page Wrapper Start -->
        <div class="page-wrapper chiller-theme toggled">

            <!-- Include Sidebar -->
            <%- include('partials/sidebar') %>

            <!-- Main Page Content Start -->
            <main class="page-content">
                <!-- Content Container Start -->
                <div class="container">
                    <!-- Title of Page -->
                    <h2> Examples </h2>
                    <hr>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <p> Below are some examples to show you how you can use our API. </p>
                        </div>
                    </div>

                    <h5></h5>
                    <hr>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="card rounded-0 p-0 shadow-sm">
                                This is where the explanation will go.
                            </div>

                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="card rounded-0 p-0 shadow-sm">
                                This is where the example code will go.

                            </div>
                        </div>
                    </div>
                    <hr>

                    <!-- Include Footer -->
                    <%- include('partials/footer') %>

                </div>
                <!-- Content Container End -->

            </main>
            <!-- Main Page Content End -->


        </div>
        <!-- Page Wrapper End -->

        <!-- Include Scripts -->
        <%- include('partials/scripts') %>

    </body>
</html>
