<!DOCTYPE html>
<html lang="en" dir="ltr">
    <!-- Include <head> -->
    <%- include('partials/head') %>
    <body>
        <!-- Page Wrapper Start -->
        <div class="page-wrapper chiller-theme toggled">

            <!-- Include Sidebar -->
            <%- include('partials/sidebar') %>

            <!-- Main Page Content Start -->
            <main class="page-content">
              <!-- Content Container Start -->
                <div class="container">
                    <!-- Title of Page -->
                    <h2> Home </h2>
                    <hr>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <p> This is the documentation for the EHRP API created by PiLabs @ UCR. </p>
                        </div>

                    </div>

                    <h5> Using our API </h5>
                    <hr>

                    <hr>

                </div>

                <!-- Include Footer -->
                <%- include('partials/footer') %>

            </div>
              <!-- Content Container End -->

            </main>
            <!-- Main Page Content End -->

        </div>
        <!-- Page Wrapper End -->

        <!-- Include Scripts -->
        <%- include('partials/scripts') %>

    </body>
</html>
