<footer class="text-center">
  <div class="mb-2">
    <small>
      © 2020 PiLabs
    </small>
  </div>

  <div>
    <a href="https://github.com/plependu/PiLabs" target="_blank">
      <img alt="GitHub followers" src="https://img.shields.io/github/followers/PiLabs?label=github&style=social" />
    </a>
  </div>
</footer>
