<a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
</a>
<nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">

        <!-- Website title -->
        <div class="sidebar-brand">
            <a href="/">EHRP Docs</a>
            <div id="close-sidebar">
                <i class="fas fa-times"></i>
            </div>
        </div>

        <div class="sidebar-menu">
            <ul>
                <li class="header-menu">
                    <span>General</span>
                </li>

                <li>
                    <a href="/">
                        <i class="fas fa-clinic-medical"></i>
                        <span> Home </span>
                    </a>
                </li>

                <li>
                    <a href="/introduction">
                        <i class="fa fa-book"></i>
                        <span>Introduction</span>
                    </a>
                </li>

                <li class="header-menu">
                    <span>Documentation</span>
                </li>

                <li class="sidebar-dropdown">
                    <a href="#">
                        <i class="fas fa-book-medical"></i>
                        <span>Resources</span>
                    </a>
                    <div class="sidebar-submenu">
                        <ul>
                            <li>
                                <a href="/resources/ehrp"> EHRP </a>
                            </li>
                            <li>
                                <a href="/resources/texts"> Texts </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a href="/examples">
                        <i class="fas fa-code"></i>
                        <span> Examples </span>
                    </a>
                </li>

            </ul>
        </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->

</nav>
<!-- sidebar-wrapper  -->
