.logo-nav{
    display: flex;
    align-items: center;
    background: rgb(19, 19, 19);
    border-bottom: 3px solid #0F58FF;
}

.logo{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 60px;
    max-width: 8%;
    height:auto;
}

.search-bar {
    width: 70%;
    border-radius: 70px 70px;
    background-color: rgb(54, 52, 52);
    border: 3px solid rgb(19, 19, 19);
    font-size: 22px;
    /* background-image: url('https://img.icons8.com/ios-filled/2x/ffffff/search.png');
    background-size: 25px; 
    background-position: 25px; 
    background-repeat: no-repeat; */
    outline: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    transition-duration: 0.4s;
}

.search-bar:focus {
    border: 3px solid #0F58FF;
}

.search-bar, select, textarea {
    color: white;
}

.search-bar::placeholder {
    color: rgb(204, 197, 197);
}

.search-bar:hover{
    border: 3px solid #0F58FF;
}

.search-label{
    position: absolute;
    left: 233px;
    top: 50px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    color: white;
    cursor: text;
    background-color: black;
    border: 5px solid black;
    transition: top 200ms ease-in,
                left 200ms ease-in,
                font-size 200ms ease-in;
}

.search-bar-1:focus ~ .search-label, .search-bar-1:not(:placeholder-shown).search-bar-1:not(:focus) ~ .search-label{
    top: 24px;
    font-size: 15px;
    left: 220px;
}

.search-button {
    margin-left: 20px;
    border-radius: 50%;
    background-color: rgb(54, 52, 52);
    border: 3px solid rgb(19, 19, 19);
    max-height: 70px;
    max-width: 70px;
    transition-duration: 500ms;
  }
  
.search-button:hover {
    border: 3px solid #0F58FF;
}

.mg{
    max-height: 100%;
    max-width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 12px;
    padding-right: 12px;
}

.id-words{
    display: flex;
    justify-content: center;
    background: rgb(19, 19, 19);
    font-size: 30px;
}

.id{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 150px;
    margin-left: 150px;
    color:white;
}

.CUI-background{
    display: flex;
    justify-content: center;
    background: rgb(19, 19, 19);
    border-bottom: 3px solid #0F58FF;;
}

.CUI-content{
    margin: 10px;
    color: white;
    background-color: rgb(4, 40, 87);
    border: 3px solid;
    border-color:black;
    width: 1200px;
    height: 200px;
    overflow: auto;
    text-align: center;
    padding-right: 20px;
}
.spinner{
    padding:30px;
}

.nav-2{
    display: flex;
    justify-content: center;
    background: rgb(19, 19, 19);
    border-bottom: 3px solid #0F58FF;
}

.search-bar-2{
    margin-top: 30px;
    margin-bottom: 30px;
}

.search2-label{
    position: absolute;
    left: 170px;
    top: 458px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    color: white;
    cursor: text;
    background-color: black;
    border: 5px solid black;
    transition: top 200ms ease-in,
                left 200ms ease-in,
                font-size 200ms ease-in;
}

.search-bar-2:focus ~ .search2-label, .search-bar-2:not(:placeholder-shown).search-bar-2:not(:focus) ~ .search2-label{
    top: 430px;
    font-size: 15px;
    left: 157px;
}

.search-button-2{
    margin-top: 30px;
    margin-bottom: 30px;
}

.content-background{
    display: flex;
    justify-content: center;
    background: rgb(19, 19, 19);
}

