h1{
    color:red;
}

.searchBar {
    width: 75%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 2px solid white;
    font-size: 20px;
    background-color: rgb(80, 73, 73);
    background-image: url('https://img.icons8.com/ios-filled/2x/ffffff/search.png');
    background-size: 25px; 
    background-position: 12px; 
    background-repeat: no-repeat;
    outline: none;
    padding: 12px 20px 12px 50px;
}

.searchBar:focus {
  background-color: rgb(4, 40, 87);
}

.searchBar, select, textarea {
    color: white;
}

.searchBar, ::placeholder {
    color: white;
}

.searchButton {
    border-radius: 8px;
    background-color: rgb(80, 73, 73); 
    color: white;
    border: 2px solid white; 
    padding: 12px 20px;
    font-size: 20px;
    transition-duration: 0.4s;
  }
  
.searchButton:hover {
    background-color: rgb(4, 40, 87);
}

div{
    color: white;
}